[Unit]
Description=Weekly Gmail Maintenance Timer

[Timer]
OnCalendar=Sun *-*-* 08:00:00
Persistent=true
RandomizedDelaySec=1800
AccuracySec=1h

[Install]
WantedBy=timers.target
